.button {
  cursor: pointer;
  transition: 250ms ease-in-out filter;
  border-radius: var(--border-radius);
  padding: 5px 15px;
  font-weight: 700;
  background: var(--secondary-color);
  color: var(--foreground-color);
}

.button:hover {
  filter: saturate(1.2);
}

.button:active {
  filter: opacity(0.8);
}