@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
  font-family: 'Noto Sans', sans-serif;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
}

#root{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

:root {
  --primary-color: #0E0066;
  --secondary-color: #3F3CD9;
  --foreground-color: #FFFFFF;
  --placeholder-color: #666666;

  --border-radius: 7px;
}

.primary-button {
  background: var(--secondary-color);
  color: var(--foreground-color);
}

input {
  color: var(--placeholder-color);
}

button {
  cursor: pointer;
}

input, button {
  border-radius: var(--border-radius);
  padding: 5px 15px;
  font-weight: 700;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}