.settings {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;

  padding: 25px;

  background: var(--primary-color);
  color: var(--foreground-color);
  border-radius: var(--border-radius);
}